<?xml version="1.0"?>
<robot>
    <!-- ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="liblegged_hw_sim.so">
            <robotNamespace>/</robotNamespace>
            <robotParam>legged_robot_description</robotParam>
            <robotSimType>legged_gazebo/LeggedHWSim</robotSimType>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>1000.0</updateRate>
            <bodyName>base</bodyName>
            <topicName>ground_truth/state</topicName>
            <gaussianNoise>0</gaussianNoise>
            <frameName>world</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>
    </gazebo>

    <gazebo reference="base_link">
        <maxVel>100.</maxVel>
        <kp>10000.</kp>
        <kd>0.</kd>
    </gazebo>

    <gazebo reference="stick_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/White</material>
    </gazebo>

    <!-- LF leg -->
    <gazebo reference="LF_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="LF_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>
    <gazebo reference="LF_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="LF_FOOT">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="100.0"/>
    </gazebo>

    <!-- RF leg -->
    <gazebo reference="RF_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="RF_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>
    <gazebo reference="RF_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RF_FOOT">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

    <!-- LH leg -->
    <gazebo reference="LH_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="LH_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>
    <gazebo reference="LH_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="LH_FOOT">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

    <!-- RH leg -->
    <gazebo reference="RH_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="RH_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>
    <gazebo reference="RH_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RH_FOOT">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

</robot>
