<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [a1, aliengo, go1, laikago]"/>
    <arg name="hung_up" default="false"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find unitree_description)/urdf/robot.xacro
       robot_type:=$(arg robot_type) hung_up:=$(arg hung_up)
    "/>

    <!-- send fake joint values -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0"/>
    </node>

</launch>
